html {
    font-family: "Proxima Nova",Arial, Helvetica, sans-serif, Arial;
    background-color: aliceblue;
  }

  hr{
    margin-top: 5%;
    border: none;
    height: 2px;
    background-color: #A52A2A;
    margin: 20px;
  }
  header {
    background-image: url("../gambar/bgheader.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 75px;
    position: relative;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5PX;
    border-bottom-right-radius: 5PX;
    box-shadow: 0 2px 5px grey;
  }
  
  footer{
    padding: 40px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer p{
    padding-left: 20px;
    font-size: smaller;
    color: white;
  }
  footer div{
    margin-left: 10px;
  }
  
  .head_1 h1{
      text-shadow: 4px 4px 1px  #A52A2A;
      color: #fff;
      padding-top: 40px;
      font-size: 50px;
      letter-spacing: 5px;
      transition: 0.2s;
    }
  .head_1 h1:hover{
      color: #A52A2A;
      text-shadow: 4px 4px 1px #fff;
      transition: 0.2s;
    }
  
  .head_1 h6{
    font-size: 16px;
    font-family: "roboto";
    font-style: italic;
    letter-spacing: 5px;
    margin-top:5px;
  
  }
  
  #searchbar {
    padding: 20px 0 30px;
    text-align: center; 
  }
  
  #searchvalue {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    border: none;
    outline: none;
    width: 80%; 
    max-width: 300px; 
    margin-bottom: 10px;
  }
  
  
  #searchbutton {
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
  }
  #searchbutton:hover{
    background-color: #A52A2A;
    color: white;
  }
  
  .fab{
    font-size: 35px;
    padding-left: 10px;
    color: #fff;
    text-shadow: 3px 3px 3px #A52A2A;
    text-align: center;
  }
  
  .fab:hover{
    color: #A52A2A;
    text-shadow: 2px 2px 10px #fff;
  }
  
  .fab{
    font-size: 35px;
    padding-left: 10px;
    color: #fff;
    text-shadow: 3px 3px 3px #A52A2A;
    text-align: center;
  }
  
  .fab:hover{
    color: #A52A2A;
    text-shadow: 2px 2px 10px #fff;
  }
  a{text-decoration: none;}

  /*BATAS HEADER DAN FOOTER*/

  /* bc */
  ul.breadcrumb li {
    color: black;
    display: inline;
    font-weight: bold;
    font-size: 15px;
  }

  ul.breadcrumb li a {
    color: #A52A2A  ;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  ul.breadcrumb li+li:before {
    padding: 1px;
    font-size: 20px;
    font-weight: bold;
    color: #A52A2A;
    content: "/\00a0";
  }
  /* bc */

  main{
    text-align: center;
    margin: 0 auto ;
    margin-bottom: 10%;
  }
  
  #table_1 {
    margin: 0 auto;
    width: 80%;
  }
  
  #table_1 td {
    padding: 60px;
    vertical-align: top;
  }
  
  #table_1 td img {
    max-height: 350px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #A52A2A;
  }
  
  .judulkonser {
    font-weight: bolder;
    font-size: 50px;
    color: #A52A2A;
    text-shadow: 0 2px 4px grey;
  }
  
  .tglkonser {
    font-size: large;
    font-weight: bolder;
    color: grey;
  }
  
  .tglkonser #wktkonser {
    padding-left: 27px;
  }
  
  .hargatiket {
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    color: lightcoral;
  }
  
  .tempatkonser {
    font-size: 20px;
    color: grey;
    font-weight: bold;
  }
  
  #desKonser p {
    text-indent: 20px;
    margin: 0 10% 0 10%;
    text-align: justify;
    font-size: large;
    padding-bottom: 40px;
  }
  
  #table_2 {
    margin: 0 10% 0 10%;
    width: 80%;
    text-align: justify;
  }
  
  #table_2 h3 {
    color: #A52A2A;
    font-size: 25px;
    font-weight: bolder;
  }
  
  #table_2 td {
    width: 50%;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: top;
  }
  
  #table_2 td:first-child {
    border-right: 3px solid #A52A2A;
  }

  ul li,
  ol li {
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: justify;
  }
  ol li {
    font-weight: bold;
  }
  
  #poinlist {
    font-weight: bold;
    font-size: large;
  }
.main-container {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px ;
    margin-bottom: 5px;
}

.tickets-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ticket {
    width: 200px;
    margin: 0 10px;
}

.stock {
    margin-top: 5px;
}

.seatplan p{
  color: #A52A2A;
  font-size: larger;
  font-weight: bold;
}
.seatplan img{
  max-width: 40%;
  height: auto;
  box-shadow: 2px 2px 3px gray;
  transition: 0.2s;
  
}

.beli-button{
  margin-bottom: 70px;
  padding: 20px 40px;
  border: solid #A52A2A 2px;
  background-color: #fff;
  color:#A52A2A;
  border-radius: 5px;
  transition: 0.2s;
  box-shadow: 2px 2px 1px gray;
}
.deskripsi-konser{
  font-size: large;
  margin-bottom: 5%;
  margin-left: 150px;
  margin-right: 150px;
  text-align: justify;
  text-indent: 2em;
}

.ticket h2{
  text-decoration: underline;
  color: #A52A2A;}
.ticket p+p{
  font-size: larger;
  color: coral;
  font-style: italic;
  font-weight: bold;
}
.stock{
  font-weight: bolder;
  font-size: large;
}
legend{
  font-size: larger;
  font-weight: bolder;
}
legend p{
  background-color: #A52A2A;
  border: 2px solid #A52A2A;
  padding: 5px;
  color: white;
}

.fstick{

  margin: 50px 150px;
  border: #A52A2A solid 2px;
  border-radius: 5px;

}

.beli-button{
  border: none  ;
  margin-bottom: 20px;
  padding: 20px 40px;
  border: solid #A52A2A 2px;
  background-color: #fff;
  color:#A52A2A;
  border-radius: 5px;
  transition: 0.2s;
}
.beli-button:hover{
  background-color: #A52A2A;
  color: #fff;
}

/* kembali */
.btn-kembali{
  top: 0;
  left: 0;
  border: none;
  color: #A52A2A;
  background-color: white;
  border: solid 2px #A52A2A;
  border-radius: 5px;
  padding: 5px;
  transition: 0.6s;
}

.btn-kembali:hover{
color: #fff;
background-color: #A52A2A;
transition: 0.6s;
}
.btn-kembali img{
width: 20px;
}