html {
  font-family: "Proxima Nova",Arial, Helvetica, sans-serif, Arial;
  background-color: aliceblue;
}

hr{
  margin-top: 5%;
  border: none;
  height: 2px;
  background-color: #A52A2A;
  margin: 20px;
}
header {
  background-image: url("../gambar/bgheader.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 75px;
  position: relative;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5PX;
  border-bottom-right-radius: 5PX;
  box-shadow: 0 2px 5px grey;
}

footer{
  padding: 40px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p{
  padding-left: 20px;
  font-size: smaller;
  color: white;
}
footer div{
  margin-left: 10px;
}

.head_1 h1{
    text-shadow: 4px 4px 1px  #A52A2A;
    color: #fff;
    padding-top: 40px;
    font-size: 50px;
    letter-spacing: 5px;
    transition: 0.2s;
  }
.head_1 h1:hover{
    color: #A52A2A;
    text-shadow: 4px 4px 1px #fff;
    transition: 0.2s;
  }

.head_1 h6{
  font-size: 16px;
  font-family: "roboto";
  font-style: italic;
  letter-spacing: 5px;
  margin-top:5px;

}

#searchbar {
  padding: 20px 0 30px;
  text-align: center; 
}

#searchvalue {
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  border: none;
  outline: none;
  width: 80%; 
  max-width: 300px; 
  margin-bottom: 10px;
}


#searchbutton {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
}
#searchbutton:hover{
  background-color: #A52A2A;
  color: white;
}

.fab{
  font-size: 35px;
  padding-left: 10px;
  color: #fff;
  text-shadow: 3px 3px 3px #A52A2A;
  text-align: center;
}

.fab:hover{
  color: #A52A2A;
  text-shadow: 2px 2px 10px #fff;
}

.fab{
  font-size: 35px;
  padding-left: 10px;
  color: #fff;
  text-shadow: 3px 3px 3px #A52A2A;
  text-align: center;
}

.fab:hover{
  color: #A52A2A;
  text-shadow: 2px 2px 10px #fff;
}
a{text-decoration: none;}

/*BATAS HEADER DAN FOOTER*/


.ticket {
  margin: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ticket-item {
  margin-bottom: 20px;
  text-align: center;
}

.ticket-details {
  margin-top: -4px;
  padding: 10px;
  background-color: #A52A2A;
  border-bottom-right-radius:10px;
  border-bottom-left-radius: 10px;
}

.ticket-details h2 {
  color: white;
  margin-top: 0;
}

.ticket-details p {
  color: white;
  font-weight: bold;
  font-size: small;
  margin: 5px 0;
}
.ticket-details label{
  color: white;
}

.ticket-item img{
  max-width: 400px;
}

table td{
  vertical-align: text-bottom;
  
}
main p{
  color: #A52A2A;
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
}
  /* bc */
  ul.breadcrumb li {
    color: black;
    display: inline;
    font-weight: bold;
    font-size: 15px;
  }

  ul.breadcrumb li a {
    color: #A52A2A  ;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  ul.breadcrumb li+li:before {
    padding: 1px;
    font-size: 20px;
    font-weight: bold;
    color: #A52A2A;
    content: "/\00a0";
  }
/* kembali */
.btn-kembali{
  top: 0 !important;
  left: 0 ;
  border: none;
  color: #A52A2A;
  background-color: white;
  border: solid 2px #A52A2A;
  border-radius: 5px;
  padding: 5px;
  transition: 0.6s;
}

.btn-kembali:hover{
color: #fff;
background-color: #A52A2A;
transition: 0.6s;
}
.btn-kembali img{
width: 20px;
}
fieldset legend{
  text-align: center;
  border: 2px solid  #A52A2A;
  color: white;
  background-color: #A52A2A;
}
fieldset{
  width: 90%;
  border: 2px solid #A52A2A;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
fieldset+fieldset{width: 25%;
  border: 2px solid #A52A2A;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

input[type="number"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="submit"],
input[type="reset"]{
  border: 2px solid #A52A2A;
  border-radius: 5px;
  padding: 10px;
}

input[type="submit"],input[type="reset"]{
  border: none ;
  padding: 10px;
  background-color: #A52A2A;
  color: white;
  cursor: pointer;  
  transition: 0.6s;

}

input[type="submit"]:hover , input[type="reset"]:hover{
  background-color: maroon;
  transition: 0.6s;
}


